<mat-card>
  <mat-card-title>
      Chat
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="messagesList" *ngFor="let message of messages" [ngStyle]="{'background-color': message.getUser() === currentUser? 'green' : '#b1c7d8'}">
        {{ message.getUser() + " : " + message.getMessage()}}
      </mat-list-item>
      <mat-list-item class="seen" *ngIf="read">
        {{"seen"}} <mat-icon [ngStyle]="{'color':'green'}">verified_user</mat-icon>
      </mat-list-item>
      <mat-list-item id="typing" [ngStyle]="{'color':'blue', 'font-style':'italic'}">

      </mat-list-item>

    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <form (ngSubmit)="sendMessage()">
      <mat-form-field class="typing">
        <input matInput placeholder="Type a message" [(ngModel)]="message" name="userMessage" (keypress)="onTyping()">
      </mat-form-field>
      <button mat-button type="submit">Send</button>
    </form>
  </mat-card-actions>
</mat-card>
